.one_work {
  padding-top: 1.25rem;
  font-family: $default-font;
  .button {
    text-transform: uppercase;
  }
  .button-order {
      background-color: $orange;
      font-weight: bold;
    }
  .one_work_h {
    border-bottom: 1px solid #e6e7e8;
    color: #7e7e7e;
    &:last-child {
      border-bottom: none;
    }
    h2 {
      font-size: 1.25rem;
      font-weight: bold;
      margin-bottom: .625rem;
      text-transform: uppercase;
    }
  }
  .one_work_to_do {
    margin-bottom: 1.25rem;
    h2 {
      color: $accent;
      font-size: 1.25rem;
      font-weight: bold;
      margin-bottom: .625rem;
      text-transform: uppercase;
    }
    span {
      font-size: 1.125rem;
      font-weight: bold;
      margin-bottom: .625rem;
      color: #868686;
      img {
        margin-right: .625rem;
        vertical-align: middle;
      }
    }
  }
}

.quote {
  text-align: left;
  p {
    margin-bottom: $font-size - 0.5rem;
  }
  .bold {
    font-weight: bold;
  }
  ol {
    list-style: decimal inside;
  }
}