//Шрифт
// $font-primary: "Arial";
// $font-Sansation-Bold: "Sansation Bold", "Arial";
// $font-Roboto-Lite: "Roboto Light", "Arial";


$default-font: "font_light", sans-serif;
$font-size: 1rem;

//Цвет
$accent: #ffa500;
$dark: #4e4e4e;
$primary-color: #333;
$white: white;
$orange: #ffa500;
//$green: #179113;





