.footer {
  width: 100%;
  background-color: #f5f5f5;
  .company {
    color: #5a5a5a;
    &:hover {
      text-decoration: none;
    }
  }
  .nav {
    p {
      text-transform: uppercase;
      background: url(../img/hr_bg.png) repeat-x;
      background-position: bottom left;
    }
    a {
      color: #5a5a5a;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}