.button {
  display: inline-block;
  border: none;
  color: #fff;
  text-decoration: none;
  background-color: $accent;
  padding: 10px 60px;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.15rem;
  border-radius: 2px;
  text-align: center;
  position: relative;
  outline: none; //http://htmlbook.ru/css/outline
  transition: background-color .1s ease;
  cursor: pointer;
  &.program {
    background-color: #0275d8;
    &::after {
      background-color: darken(#0275d8, 50%);
    }
    &:hover {
      background-color: lighten(#0275d8, 3%);
      &::after {
        opacity: .22;
      }
    }
  }
  &::after {
    transition: background-color .2s ease;
    position: absolute;
    content: '';
    height: 4px;
    bottom: 0;
    width: 100%;
    background-color: darken($accent, 50%);
    opacity: .18;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    left: 0;
  }
  &:focus, &:hover {
    color: #fff;
  }
  &:hover {
    background-color: lighten($accent, 7%);
    &::after {
      opacity: .22;
    }
  }
  &:active {
    background-color: darken($accent, 10%);
    &::after {
      opacity: .32;
    }
  }

}

//переопределенный класс с файла hover.css
.button {
  margin: .4rem 0;
}
