#scrollUp {
  bottom: 20px;
  right: 20px;
  width: 35px; /* Width of image */
  height: 75px;  /* Height of image */
  background: url(/img/top.png) no-repeat;
  transition: all 0.3s ease;
  &:hover {
    opacity: 0.7;
    transition: all 0.3s ease;
  }
}

//#scrollUp:hover {
//  opacity: 0.7;
//  transition: all 0.3s ease;
//}